In [2]:
# import statements
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Loading Data

In [4]:
scores = pd.read_csv('ml-25m/genome-scores.csv')
print(scores.shape)
scores.head()

(15584448, 3)

   movieId  tagId  relevance
0        1      1    0.02875
1        1      2    0.02375
2        1      3    0.06250
3        1      4    0.07575
4        1      5    0.14075

In [5]:
# possibly unnecessary
tags = pd.read_csv('ml-25m/genome-tags.csv')
print(tags.shape)
tags.head()

(1128, 2)

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century
3      4         1920s
4      5         1930s

In [6]:
# likely unnecessary
links = pd.read_csv('ml-25m/links.csv')
print(links.shape)
links.head()

(62423, 3)

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [7]:
movies = pd.read_csv('ml-25m/movies.csv')
print(movies.shape)
movies.head()

(62423, 3)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
ratings = pd.read_csv('ml-25m/ratings.csv')
print(ratings.shape)
ratings.head()

(25000095, 4)

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [9]:
# possibly unnecessary
tags = pd.read_csv('ml-25m/tags.csv')
print(tags.shape)
tags.head()

(1093360, 4)

   userId  movieId               tag   timestamp
0       3      260           classic  1439472355
1       3      260            sci-fi  1439472256
2       4     1732       dark comedy  1573943598
3       4     1732    great dialogue  1573943604
4       4     7569  so bad it's good  1573943455

# Preprocessing Data

# Exploratory Data Analysis

# Collaborative Filtering

# Content-Based Filtering

# Other Stuff?